/* GERAL */

@font-face {
    font-family: 'Pixellari';
    src: url('../media/fonts/Pixellari.ttf');
}

@font-face {
    font-family: 'Minecraft';
    src: url('../media/fonts/Minecraft.ttf');
}

@font-face {
    font-family: 'PixelifySans-Regular';
    src: url('../media/fonts/PixelifySans-Regular.ttf');
}

.root {
    -fx-spacing: 30px;
    -fx-padding: 20px;
    -fx-font-family: 'Pixelify Sans', sans-serif;
    -fx-font-size: 22px;
}

.header-box {
    -fx-alignment: top-left;
    -fx-spacing: 0px;
}

.header-box__config-icon {
    -fx-preserve-ratio: true;
    -fx-image: url('../media/icons/config-icon.png');
}

.header-box__config-icon:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 2);
}

.header-box__title-box {
    -fx-alignment: center;
    -fx-padding: 10px 0px 0px 0px;
}

.header-box__title-box-high {
    -fx-alignment: center;
    -fx-padding: 0px 0px 30px 0px;
}

.title-box__title {
    -fx-font-family: 'Pixellari';
    -fx-alignment: center;
    -fx-font-size: 60px;
    -fx-wrap-text: true;
}

.title-box__title-main {
    -fx-font-family: 'Pixellari';
    -fx-alignment: center;
    -fx-font-size: 90px;
    -fx-wrap-text: true;
}

.title-box__title-medium {
    -fx-font-family: 'Pixellari';
    -fx-alignment: center;
    -fx-font-size: 35px;
    -fx-wrap-text: true;
}

.footer-box {
    -fx-alignment: bottom-left;
}

.footer-box__back-button {
    -fx-text-fill: #FF3F3F;
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 120px;
    -fx-pref-height: 45px;
    -fx-border-color: #FF3F3F;
    -fx-border-width: 2px;
}

.footer-box__back-button:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF3F3F;
}

.main-box {
    -fx-alignment: center;
    -fx-spacing: 40px;
}

/* TITLE SCREEN */

.main-box__options {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.options__button-big {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6b0ea1;
    -fx-border-color: #6b0ea1;
    -fx-border-width: 2px;
    -fx-pref-height: 40px;
    -fx-pref-width: 480px;
}

.options__button-big:hover {
    -fx-text-fill: #6b0ea1;
    -fx-background-color: #FFFFFF;
}

.options__hyperlinks {
    -fx-alignment: center;
    -fx-spacing: 3px;
}

.hyperlinks__link {
    -fx-font-size: 20px;
    -fx-text-fill: #6b0ea1;
}


/* FORMS: REGISTER PLAYER & LOGIN */

.main-box__form {
    -fx-aligment: center;
    -fx-spacing: 30px;
}

.form__userdata {
    -fx-alignment: center;
    -fx-spacing: 15px;
}

.form__label-txf-box {
    -fx-alignment: center-left;
    -fx-padding: 0px 450px;
    -fx-spacing: 5px;
}

.form__label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.form__textfield {
    -fx-pref-width: 300px;
    -fx-pref-height: 30px;
    -fx-font-size: 18px;
    -fx-font-family: 'System';
}

.form__options {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

.options__continue-button-medium {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6b0ea1;
    -fx-border-color: #6b0ea1;
    -fx-border-width: 2px;
    -fx-pref-width: 260px;
    -fx-pref-height: 40px;
}

.options__continue-button-medium:hover {
    -fx-text-fill: #6b0ea1;
    -fx-background-color: #FFFFFF;
}


/* CHANGE PASSWORD */

.header-box__title-box-low {
    -fx-alignment: center;
    -fx-padding: 80px 0px 0px 0px;
}

.title-box__title-low {
    -fx-font-family: 'Pixellari';
    -fx-alignment: center;
    -fx-font-size: 45px;
}


/* CHARACTER CREATION */

.txf-character-name {
    -fx-max-width: 300px;
    -fx-font-size: 20px;
}

.classes-view {
    -fx-font-family: 'Minecraft';
    -fx-font-size: 16px;
    -fx-spacing: 60px;
    -fx-alignment: center;
    -fx-pref-height: 400px;
}

.classes-view__class-box-warrior,
.classes-view__class-box-wizard,
.classes-view__class-box-archer {
    -fx-spacing: 18px;
    -fx-alignment: center;
    -fx-pref-width: 350px;
    -fx-padding: 20px;
    -fx-border-width: 0px;
}

.classes-view__class-box-warrior {
    -fx-background-color: #ffbbbb;
    -fx-border-color: #e72020;
}

.classes-view__class-box-warrior:hover {
    -fx-border-width: 1px;
}

.classes-view__class-box-wizard {
    -fx-background-color: #dfafff;
    -fx-border-color: #9323df;
}

.classes-view__class-box-wizard:hover {
    -fx-border-width: 1px;
}

.classes-view__class-box-archer {
    -fx-background-color: #cdffc6;
    -fx-border-color: #23be0e;
}

.classes-view__class-box-archer:hover {
    -fx-border-width: 1px;
}

.class-box__catchphrase {
    -fx-text-fill: rgb(123, 118, 118);
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.class-box__name {
    -fx-font-size: 24px;
}

.class-box__description {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.class-box__attributes-warrior {
    -fx-text-fill: #e72020;
}

.class-box__attributes-wizard {
    -fx-text-fill: #9323df;
}

.class-box__attributes-archer {
    -fx-text-fill: #23be0e;
}

/* SAVE SELECTION */

.save__outerbox {
    -fx-alignment: center;
    -fx-spacing: 50px;
}

.save__innerbox {
    -fx-pref-width: 650px;
    -fx-pref-height: 150px;
    -fx-padding: 20px;
    -fx-background-color: #b6b6b6;
    -fx-spacing: 90px;
    -fx-alignment: center;
    -fx-border-width: 2.5px;
    -fx-border-color: #818181;
}

.save__innerbox:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 2);
}

.save__label {
    -fx-font-family: 'Minecraft';
    -fx-font-size: 20px;
    -fx-wrap-text: true;
}

.wizard-icon {
    -fx-image: url('../media/icons/wizard-icon.png');
}

.warrior-icon {
    -fx-image: url('../media/icons/warrior-icon.png');
}

.archer-icon {
    -fx-image: url('../media/icons/archer-icon.png');
}

.trash-icon {
    -fx-image: url('../media/icons/trash-icon.png');
}

/* Settings */

.root-settings {
    -fx-spacing: 30px;
    -fx-padding: 20px;
    -fx-font-family: 'Pixelify Sans', sans-serif;
    -fx-font-size: 22px;
    -fx-border-width: 2px;
    -fx-border-color: #818181;
}

.config__title-box__title-medium{
    -fx-font-family: 'Pixellari';
    -fx-alignment: center;
    -fx-font-size: 35px;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}

.config__title-box{
    -fx-alignment: top-center;;
}

.config__options-box__option-button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6b0ea1;
    -fx-border-color: #6b0ea1;
    -fx-border-width: 2px;
    -fx-pref-width: 240px;
    -fx-pref-height: 40px;
}
.config__options-box__option-button:hover{
    -fx-text-fill: #6b0ea1;
    -fx-background-color: #FFFFFF;
}

.config__options-box__option-button__clicked{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #4a0870;
    -fx-border-color: #4a0870;
    -fx-border-width: 2px;
    -fx-pref-width: 240px;
    -fx-pref-height: 40px;
}

.config__options-box{
    -fx-padding: 10px 0;
    -fx-spacing: 6px;
}

.config__content-box-margin{
    -fx-padding: 10px 0px 10px 10px;
}

.config__content-box {
    -fx-padding: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #6b0ea1;
    -fx-pref-width: 420px;
    -fx-max-width: 420px;
    -fx-spacing: 10px;
}

.config__content-box__keys-box {
    -fx-spacing: 20px;
}

.config__content-box__keys {
    -fx-text-alignment: center;
    -fx-pref-width: 130px;
    -fx-wrap-text: true;
}

.config__content-box__description__move {
    -fx-wrap-text: true;
    -fx-pref-width: 300px;
}

.config__content-box__description {
    -fx-padding: 5px 0px;
    -fx-wrap-text: true;
    -fx-pref-width: 300px;
    -fx-content-display: center;
}

.config__content-box__fullscreen-checkbox {
    -fx-font-size: 20px;
}

.config__content-box__grid {
    -fx-alignment: top-center;
}

.config__content-box__resolution-box-margin {
    -fx-padding: 10px;
    -fx-max-height: 100px;
}

.config__content-box__resolution-box {
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-text-fill: #6b0ea1;
    -fx-pref-height: 100px;
}

.config__content-box__resolution-box:hover {
    -fx-border-color: #6b0ea1;
}

.config__computer-icon{
    -fx-content-display: center;
    -fx-image: url('../media/icons/computer-icon.png');
}

.config__resolution-text{
    -fx-alignment: center;
}

.config__content-box__audio-box {
    -fx-padding: 5px;
    -fx-alignment: center;
}

.config__content-box__audio-text {
    -fx-padding: 0px 0px 0px 5px;
    -fx-text-fill: #6b0ea1;
}

.config__content-box__audio-number {
    -fx-text-fill: #000;
}

.slider .track{
    -fx-background-color: #afafaf;
    -fx-background-radius: 2px;
}

.slider .thumb{
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-color: #6b0ea1;
    -fx-background-radius: 3px;
}

.config__footer-box__save-button {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-background-color: #6b0ea1;
    -fx-pref-width: 120px;
    -fx-pref-height: 45px;
    -fx-border-color: #6b0ea1;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.config__footer-box__save-button:hover {
    -fx-text-fill: #6b0ea1;
    -fx-background-color: #FFFFFF;
}

.config__footer-box__cancel-button {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-background-color: #FF3F3F;
    -fx-pref-height: 45px;
    -fx-pref-width: 140px;
    -fx-border-color: #FF3F3F;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.config__footer-box__cancel-button:hover {
    -fx-text-fill: #FF3F3F;
    -fx-background-color: #FFFFFF;
}

.config__footer-box__cancel-button {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-background-color: #FF3F3F;
    -fx-pref-height: 45px;
    -fx-pref-width: 140px;
    -fx-border-color: #FF3F3F;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.config__footer-box__cancel-button:hover {
    -fx-text-fill: #FF3F3F;
    -fx-background-color: #FFFFFF;
}

.config__exit-button-box__exit {
    -fx-text-fill: #FF3F3F;
    -fx-text-alignment: center;
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 45px;
    -fx-pref-width: 180px;
    -fx-border-color: #FF3F3F;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.config__exit-button-box__exit:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF3F3F;
}

.config__exit-button-box {
    -fx-alignment: bottom-left;
}

.config__buttons{
    -fx-alignment: top-right;
    -fx-spacing: 8px;
}

.config__footer-box {
    -fx-spacing: 230px;
}