/* GERAL */

@font-face {
    font-family: 'alagard';
    src: url('../media/fonts/alagard.ttf');
}

@font-face {
    font-family: 'maruMonica';
    src: url('../media/fonts/x12y16pxMaruMonica.ttf');
}

.root {
    -fx-spacing: 30px;
    -fx-padding: 20px;
    padding: 20px;
    -fx-font-size: 17px;
    font-size: 17px;
}

.header-box {
    -fx-alignment: top-left;
    -fx-spacing: 30px;
}

.header-box__config-icon {
    -fx-fitwidth: 40px;
    -fx-preserve-ratio: true;
    -fx-image: url('../media/icons/config-icon.png');
}

.footer-box {
    -fx-alignment: bottom-left;
}

.footer-box__back-button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF3F3F;
        background-color: #FF3F3F;
    -fx-label-padding: 3px 15px;
}

.main-box {
    -fx-alignment: center;
    -fx-spacing: 50px;
}

/* TITLE SCREEN */

.header-box__title-box {
    -fx-alignment: center;
}

.title-box__game-title {
    -fx-font-family: 'alagard';
    -fx-alignment: center;
    -fx-font-size: 90px;
    -fx-padding: 30px 0px 0px 0px;
}

.main-box__options {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.options__button {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'x12y16pxMaruMonica';
    -fx-font-size: 28px;
    -fx-background-color: #6b0ea1;
    -fx-pref-width: 480px;
}

.options__hyperlinks {
    -fx-alignment: center;
    -fx-spacing: 3px;
}

.hyperlinks__link {
    -fx-text-fill: #6b0ea1;
    -fx-font-family: 'x12y16pxMaruMonica';
    -fx-font-size: 24px;
}





.txf-character-name {
    -fx-max-width: 300px;
        max-width: 300px;
}

.classes-view {
    -fx-spacing: 60px;
    -fx-alignment: center;
}

.classes-view__class-box-wizard {
    -fx-spacing: 18px;
    -fx-alignment: center;
    -fx-pref-height: 380px;
    -fx-pref-width: 320px;  
    -fx-border-width: 3.5px;
    -fx-border-radius: 20px;
    -fx-border-color: #9323df;
    -fx-fill-color: #9323df9c;
}

.classes-view__class-box-warrior {
    -fx-spacing: 18px;
    -fx-alignment: center;
    -fx-pref-height: 380px;
    -fx-pref-width: 320px;  
    -fx-border-width: 3.5px;
    -fx-border-radius: 20px;
    -fx-border-color: #a5630e;
    -fx-fill-color: #a5630e9c;
}

.classes-view__class-box-archer {
    -fx-spacing: 18px;
    -fx-alignment: center;
    -fx-pref-height: 380px;
    -fx-pref-width: 320px;  
    -fx-border-width: 3.5px;
    -fx-border-radius: 20px;
    -fx-border-color: #19850a;
    -fx-fill-color: #19850a9c;
}

.classes-view__class-box {
    -fx-spacing: 18px;
    -fx-alignment: center;
    -fx-pref-height: 380px;
    -fx-pref-width: 320px;  
    -fx-border-width: 3.5px;
    -fx-border-radius: 20px;
    -fx-border-color: black;
}

.class-box__catchphrase {
    -fx-text-fill: rgb(123, 118, 118);
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.class-box__name {
    -fx-font-size: 18px;
        font-size: 18px;
    -fx-font-weight: bold;
        font-weight: bold;
}

.class-box__description {
    -fx-text-alignment: center;
        text-align: center;
    -fx-wrap-text: true;
}

.play-button{
    -fx-label-padding: 10px 15px 10px 15px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #630d94;
    -fx-text-alignment: center;
}














.form {
    -fx-spacing: 50px;
    -fx-padding: 0px 100px;
}

.formInsertData {
    -fx-spacing: 15px;
    -fx-padding: 0px 190px;
    padding: 0px 190px;
}

.formTitle {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-spacing: 15px;
    -fx-padding: 0px 100px;
}

.formLabel {
    -fx-font-size: 14.0;
    -fx-spacing: 12px;
    -fx-text-fill: rgb(41, 41, 41);
    -fx-label-padding: 0px 0px 0px 5px;
}

.formTextField {
    -fx-padding: 100px;
}

.redefinePassword {
    -fx-font-size: 14.0;
    -fx-spacing: 9px;
    -fx-text-fill: #630d94;
    -fx-label-padding: 0px 0px 0px 5px;
    -fx-underline: "true";
}

.continueButton {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #630d94;
    -fx-label-padding: 10px 15px 10px 15px;
}

.hyperlink{
    -fx-text-fill: #630d94;
}